@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

html,
body {
  height: 100%;
}

body {
  @apply antialiased bg-background text-dark-text;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@screen md {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/apercu-pro/ApercuPro.woff') format('woff');
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/apercu-pro/ApercuPro-Medium.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/apercu-pro/ApercuPro-Bold.woff') format('woff');
  font-weight: bold;
}

.spin,
.spin-yellow {
  @apply w-5 h-5 border-2 border-white border-solid rounded-full border-t-transparent;
  animation: spin 0.5s linear infinite;
}
.spin-yellow {
  @apply border-primary border-t-transparent;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
